<launch>

  <arg name="mesh" default="$(find-pkg-share scale_pad_visualize)/stl/ros2.stl"/>
  <arg name="scale" default="1.0"/>
  <arg name="padding" default="0.0"/>

  <node name="visualize" pkg="scale_pad_visualize" exec="visualize">
    <param name="mesh" value="$(var mesh)"/>
    <param name="scale" value="$(var scale)"/>
    <param name="padding" value="$(var padding)"/>
  </node>

  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(find-pkg-share scale_pad_visualize)/rviz/visualize.rviz"/>
</launch>
